:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  padding: 1rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END reset */

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
  font-size: 1.6rem;
  margin: 2rem;
  background-color: khaki;
}

h1, h2, p, section {
  margin-block-end: 1rem;
}
h1 {
  font-size: 2.4rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* PersonList komponentti */
.employee {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.employee > * {
  flex-basis: 0;
  flex-grow: 1;
  background-color: darkkhaki;
  padding: 3rem;
  line-height: 1.5;
  min-width:25rem;
  max-width: 27rem;
}
/* END PersonList komponentti */

/* PerCard komponentti */
.card {
}

/* AddEmployee komponentti */
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 65rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 600px;
}

.form label {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
/* END AddEmployee komponentti */

/* Navigointi komponentissa Header */
header, .heading {
  margin-block-end: 1rem;
}
header .navbar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin-block-end: 1rem;
}
header .navbar ul > * {
  flex-basis: 0;
  flex-grow: 1;
  background-color: darkkhaki;
  border: gray solid 1px;
}
header a {
  text-decoration: none;
  color: darkslategray;
  font-weight: 700;
  display: block;
  padding: 1rem;
  text-align: center;
}
header a:hover {
  background-color: rgb(240, 230, 140, 0.5);
  text-decoration: underline;
  padding: 1rem;
}
.link-styles {
  text-decoration: none;
  color: darkslategray;
  font-weight: 700;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  background-color: darkkhaki;
  border: gray solid 1px;
  margin-block-end: 1rem;
  min-width: 10rem;
}
.link-styles:hover {
  background-color: rgb(240, 230, 140, 0.5);
  text-decoration: underline;
  padding: 1rem;

} 

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
